<div class="container mt-5">
    <div class="d-flex flex-column mt-5 pt-5">
        <div class="d-flex flex-column container justify-content-start mt-4">
            <ul class="nav nav-tabs mb-3 border-0" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="admin-home-tab" data-bs-toggle="pill"
                        data-bs-target="#admin-home" type="button" role="tab" aria-controls="admin-home"
                        aria-selected="true">
                        Pendientes
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="admin-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#admin-profile" type="button" role="tab" aria-controls="admin-profile"
                        aria-selected="false">
                        En camino
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="admin-entregados-tab" data-bs-toggle="pill"
                        data-bs-target="#admin-entregados" type="button" role="tab" aria-controls="admin-entregados"
                        aria-selected="false">
                        Entregados
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active bg-white p-3" id="admin-home" role="tabpanel"
                    aria-labelledby="admin-home-tab">
                    <h2>Pedidos Pendientes</h2>
                    <div *ngFor="let pedido of pedidos">
                        <div class="card mb-3" *ngIf="pedido.id_estadopedido === 1">
                            <div class="card-body">
                                <h5 class="card-title">Pedido #{{ pedido.id_pedido }}</h5>
                                <p class="card-text">Fecha: {{ pedido.fecha | date:'short' }}</p>
                                <p class="card-text">Ubicación: {{ pedido.ubicacion }}</p>
                                <h6>Detalles del Pedido:</h6>
                                <ul>
                                    <li *ngFor="let detalle of pedido.detalles">
                                        {{ detalle.producto_nombre }} - {{ detalle.presentacion_nombre }}: {{
                                        detalle.cantidad }} unidades a ${{ detalle.precio }}
                                    </li>
                                </ul>
                                <button class="btn btn-warning" (click)="reasignarDistribuidor(pedido)">Seleccionar Otro
                                    Distribuidor</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade bg-white" id="admin-profile" role="tabpanel"
                    aria-labelledby="admin-profile-tab">
                    <h2>Pedidos en Camino</h2>
                    <div *ngFor="let pedido of pedidos">
                        <div class="card mb-3" *ngIf="pedido.id_estadopedido === 2">
                            <div class="card-body">
                                <h5 class="card-title">Pedido #{{ pedido.id_pedido }}</h5>
                                <p class="card-text">Fecha: {{ pedido.fecha | date:'short' }}</p>
                                <p class="card-text">Ubicación: {{ pedido.ubicacion }}</p>
                                <h6>Detalles del Pedido:</h6>
                                <ul>
                                    <li *ngFor="let detalle of pedido.detalles">
                                        {{ detalle.producto_nombre }} - {{ detalle.presentacion_nombre }}: {{
                                        detalle.cantidad }} unidades a ${{ detalle.precio }}
                                    </li>
                                </ul>
                                <button class="btn btn-primary" (click)="mostrarOpcionesPago(pedido)">Pagar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade bg-white" id="admin-entregados" role="tabpanel"
                    aria-labelledby="admin-entregados-tab">
                    <h2>Pedidos Entregados</h2>
                    <div *ngFor="let pedido of pedidos">
                        <div class="card mb-3" *ngIf="pedido.id_estadopedido === 3 || pedido.id_estadopedido === 8">
                            <div class="card-body">
                                <h5 class="card-title">Pedido #{{ pedido.id_pedido }}</h5>
                                <p class="card-text">Fecha: {{ pedido.fecha | date:'short' }}</p>
                                <p class="card-text">Ubicación: {{ pedido.ubicacion }}</p>
                                <h6>Detalles del Pedido:</h6>
                                <ul>
                                    <li *ngFor="let detalle of pedido.detalles">
                                        {{ detalle.producto_nombre }} - {{ detalle.presentacion_nombre }}: {{
                                        detalle.cantidad }} unidades a ${{ detalle.precio }}
                                    </li>
                                </ul>
                                <button *ngIf="pedido.id_estadopedido === 8" class="btn btn-success"
                                    (click)="finalizarProceso()">Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>