<app-menu-cliente></app-menu-cliente>
<div class="container mt-5 py-5">
    <div class="d-flex justify-content-center align-content-justify">
        <h2>Mis pedidos</h2>
    </div>

    <div class="d-flex flex-column mt-5 pt-5">
        <div class="d-flex flex-column container justify-content-start mt-4">
            <ul class="nav nav-tabs mb-3 border-0" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="admin-home-tab" data-bs-toggle="pill"
                        data-bs-target="#admin-home" type="button" role="tab" aria-controls="admin-home"
                        aria-selected="true">
                        Pendientes
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="admin-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#admin-profile" type="button" role="tab" aria-controls="admin-profile"
                        aria-selected="false">
                        En camino
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="admin-entregados-tab" data-bs-toggle="pill"
                        data-bs-target="#admin-entregados" type="button" role="tab" aria-controls="admin-entregados"
                        aria-selected="false">
                        Recibidos
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="admin-finalizados-tab" data-bs-toggle="pill"
                        data-bs-target="#admin-finalizados" type="button" role="tab" aria-controls="admin-finalizados"
                        aria-selected="false">
                        Finalizados
                    </button>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active bg-white p-3" id="admin-home" role="tabpanel"
                    aria-labelledby="admin-home-tab">
                    <h2>Pedidos Pendientes</h2>
                    <div *ngFor="let pedido of pedidosPendientes  | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };" class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Pedido #{{ pedido.id_pedido }}</h5>
                            <p class="card-text">Fecha: {{ pedido.fecha | date:'short' }}</p>
                            <p class="card-text">Ubicación: {{ pedido.ubicacion }}</p>
                            <p class="card-text">Estado:
                                <span *ngIf="pedido.id_estadopedido === 1">Pendiente</span>
                                <span *ngIf="pedido.id_estadopedido === 2">En Camino</span>
                                <span *ngIf="pedido.id_estadopedido === 6">Rechazado</span>
                                <span *ngIf="pedido.id_estadopedido === 3">Entregado</span>
                                <span *ngIf="pedido.id_estadopedido === 8">Pagado</span>
                                <span *ngIf="pedido.id_estadopedido === 7">Finalizado</span>
                            </p>
                            <h6>Detalles del Pedido:</h6>
                            <ul>
                                <li *ngFor="let detalle of pedido.detalles">
                                    {{ detalle.producto_nombre }} - {{ detalle.presentacion_nombre }}: {{
                                    detalle.cantidad }} unidades a ${{ detalle.precio }}
                                </li>
                            </ul>
                            <button *ngIf="pedido.id_estadopedido === 6" class="btn btn-warning"
                                (click)="reasignarDistribuidor(pedido)">Seleccionar Otro Distribuidor</button>
                            <button *ngIf="pedido.id_estadopedido === 3" class="btn btn-success"
                                (click)="mostrarOpcionesPago(pedido)">Pagar</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <pagination-controls previousLabel="Anterior" nextLabel="Siguiente"
                            (pageChange)="onTableDataChange($event)">
                        </pagination-controls>
                    </div>

                </div>
                <div class="tab-pane fade bg-white" id="admin-profile" role="tabpanel"
                    aria-labelledby="admin-profile-tab">
                    <h2>Pedidos en Camino</h2>
                    <div id="map"></div> <!-- Contenedor del mapa -->
                    <div *ngFor="let pedido of pedidosEnCamino  | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };" class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Pedido #{{ pedido.id_pedido }}</h5>
                            <p class="card-text">Fecha: {{ pedido.fecha | date:'short' }}</p>
                            <p class="card-text">Ubicación: {{ pedido.ubicacion }}</p>
                            <p class="card-text">Estado:
                                <span *ngIf="pedido.id_estadopedido === 1">Pendiente</span>
                                <span *ngIf="pedido.id_estadopedido === 2">En Camino</span>
                                <span *ngIf="pedido.id_estadopedido === 6">Rechazado</span>
                                <span *ngIf="pedido.id_estadopedido === 3">Entregado</span>
                                <span *ngIf="pedido.id_estadopedido === 8">Pagado</span>
                                <span *ngIf="pedido.id_estadopedido === 7">Finalizado</span>
                            </p>
                            <h6>Detalles del Pedido:</h6>
                            <ul>
                                <li *ngFor="let detalle of pedido.detalles">
                                    {{ detalle.producto_nombre }} - {{ detalle.presentacion_nombre }}: {{
                                    detalle.cantidad }} unidades a ${{ detalle.precio }}
                                </li>
                            </ul>
                            <button *ngIf="pedido.id_estadopedido === 6" class="btn btn-warning"
                                (click)="reasignarDistribuidor(pedido)">Seleccionar Otro Distribuidor</button>
                            <button *ngIf="pedido.id_estadopedido === 3" class="btn btn-success"
                                (click)="mostrarOpcionesPago(pedido)">Pagar</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <pagination-controls previousLabel="Anterior" nextLabel="Siguiente"
                            (pageChange)="onTableDataChange($event)">
                        </pagination-controls>
                    </div>
                </div>
                <div class="tab-pane fade bg-white" id="admin-entregados" role="tabpanel"
                    aria-labelledby="admin-entregados-tab">
                    <h2>Pedidos recibidos</h2>
                    <div *ngFor="let pedido of pedidosRecibidos  | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };" class="card mb-3">

                        <div class="card-body">
                            <h5 class="card-title">Pedido #{{ pedido.id_pedido }}</h5>
                            <p class="card-text">Fecha: {{ pedido.fecha | date:'short' }}</p>
                            <p class="card-text">Ubicación: {{ pedido.ubicacion }}</p>
                            <p class="card-text">Estado:
                                <span *ngIf="pedido.id_estadopedido === 1">Pendiente</span>
                                <span *ngIf="pedido.id_estadopedido === 2">En Camino</span>
                                <span *ngIf="pedido.id_estadopedido === 6">Rechazado</span>
                                <span *ngIf="pedido.id_estadopedido === 3">Entregado</span>
                                <span *ngIf="pedido.id_estadopedido === 8">Pagado</span>
                                <span *ngIf="pedido.id_estadopedido === 7">Finalizado</span>
                            </p>
                            <h6>Detalles del Pedido:</h6>
                            <ul>
                                <li *ngFor="let detalle of pedido.detalles">

                                    {{ detalle.producto_nombre }} - {{ detalle.presentacion_nombre }}: {{
                                    detalle.cantidad }} unidades a ${{ detalle.precio }}
                                </li>
                            </ul>
                            <div>
                                <!-- Subtotal:{{this.subtotalP}}
                                iva:{{this.ivaP}}
                                total:{{this.totalP}} -->
                            </div>
                            <button *ngIf="pedido.id_estadopedido === 6" class="btn btn-warning"
                                (click)="reasignarDistribuidor(pedido)">Seleccionar Otro Distribuidor</button>
                            <button *ngIf="pedido.id_estadopedido === 3" class="btn btn-success"
                                (click)="mostrarOpcionesPago(pedido)">Pagar</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <pagination-controls previousLabel="Anterior" nextLabel="Siguiente"
                            (pageChange)="onTableDataChange($event)">
                        </pagination-controls>
                    </div>
                </div>
                <div class="tab-pane fade bg-white" id="admin-finalizados" role="tabpanel"
                    aria-labelledby="admin-finalizados-tab">
                    <h2>Pedidos finalizados</h2>
                    <div *ngFor="let pedido of pedidosFinalizados | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };" class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Pedido #{{ pedido.id_pedido }}</h5>
                            <p class="card-text">Fecha: {{ pedido.fecha | date:'short' }}</p>
                            <p class="card-text">Ubicación: {{ pedido.ubicacion }}</p>
                            <p class="card-text">Estado:
                                <span *ngIf="pedido.id_estadopedido === 1">Pendiente</span>
                                <span *ngIf="pedido.id_estadopedido === 2">En Camino</span>
                                <span *ngIf="pedido.id_estadopedido === 6">Rechazado</span>
                                <span *ngIf="pedido.id_estadopedido === 3">Entregado</span>
                                <span *ngIf="pedido.id_estadopedido === 8">Pagado</span>
                                <span *ngIf="pedido.id_estadopedido === 7">Finalizado</span>
                            </p>
                            <h6>Detalles del Pedido:</h6>
                            <ul>
                                <li *ngFor="let detalle of pedido.detalles">
                                    {{ detalle.producto_nombre }} - {{ detalle.presentacion_nombre }}: {{
                                    detalle.cantidad }} unidades a ${{ detalle.precio }}
                                </li>
                            </ul>
                            <button *ngIf="pedido.id_estadopedido === 6" class="btn btn-warning"
                                (click)="reasignarDistribuidor(pedido)">Seleccionar Otro Distribuidor</button>
                            <button *ngIf="pedido.id_estadopedido === 3" class="btn btn-success"
                                (click)="mostrarOpcionesPago(pedido)">Pagar</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-3">
                        <pagination-controls previousLabel="Anterior" nextLabel="Siguiente"
                            (pageChange)="onTableDataChange($event)">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-5">
    <app-footer></app-footer>
</div>

<app-mmodal [idModal]="'distribuidores'" [icono]="'./assets/img/success.png'" [titulo]="'Seleccione Distribuidor'"
    [descripcion]="''" [distribuidores]="distribuidores" (selectDistr)="onSelect($event)" [tipo]="1"
    #distribuidoresModal></app-mmodal>

<app-mmodal [idModal]="'pago'" [icono]="'./assets/img/success.png'" [titulo]="'Seleccione el metodo de pago'"
    [descripcion]="''" (pagarPedido)="pagarPedido($event)" [tipo]="3" [total]="this.total" [idpedido]="idPedido"
    #pagoModal></app-mmodal>

<app-mmodal [idModal]="'pagoconfirmar'" [icono]="'./assets/img/success.png'" [titulo]="'Pago '" [tipo]="4"
    [valor]="this.valor" (finalizarProceso)="finalizarProceso()" #pagoConfirmarModal></app-mmodal>