<app-menu-cliente></app-menu-cliente>
<div class="container mt-5">
    <h2>Mis Pedidos REALIZADOS DEL CLIENTE</h2>
    <div *ngFor="let pedido of pedidos" class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Pedido #{{ pedido.id_pedido }}</h5>
            <p class="card-text">Fecha: {{ pedido.fecha | date:'short' }}</p>
            <p class="card-text">Ubicación: {{ pedido.ubicacion }}</p>
            <p class="card-text">Estado:
                <span *ngIf="pedido.id_estadopedido === 1">Pendiente</span>
                <span *ngIf="pedido.id_estadopedido === 2">En Camino</span>
                <span *ngIf="pedido.id_estadopedido === 6">Rechazado</span>
                <span *ngIf="pedido.id_estadopedido === 3">Entregado</span>
                <span *ngIf="pedido.id_estadopedido === 8">Pagado</span>
            </p>
            <h6>Detalles del Pedido:</h6>
            <ul>
                <li *ngFor="let detalle of pedido.detalles">
                    {{ detalle.producto_nombre }} - {{ detalle.presentacion_nombre }}: {{ detalle.cantidad }} unidades a
                    ${{ detalle.precio }}
                </li>
            </ul>
            <button *ngIf="pedido.id_estadopedido === 6" class="btn btn-warning"
                (click)="reasignarDistribuidor(pedido)">Seleccionar Otro Distribuidor</button>
            <button *ngIf="pedido.id_estadopedido === 3" class="btn btn-primary"
                (click)="mostrarOpcionesPago(pedido)">Pagar</button>
        </div>
    </div>
</div>

<app-mmodal [idModal]="'distribuidores'" [icono]="'./assets/img/success.png'" [titulo]="'Seleccione Distribuidor'"
    [descripcion]="''" [distribuidores]="distribuidores" (selectDistr)="onSelect($event)" [tipo]="1"
    #distribuidoresModal></app-mmodal>



<app-mmodal [idModal]="'pago'" [icono]="'./assets/img/success.png'" [titulo]="'Seleccione el metodo de pago'"
    [descripcion]="''" (pagarPedido)="pagarPedido($event)" [tipo]="3" [total]="this.total" [idpedido]="idPedido"
    #pagoModal>
</app-mmodal>


<app-mmodal [idModal]="'pagoconfirmar'" [icono]="'./assets/img/success.png'" [titulo]="'Pago '" [tipo]="4"
    [valor]="this.valor" (finalizarProceso)="finalizarProceso()" #pagoConfirmarModal>
</app-mmodal>