
 <!-- Navbar & Hero Start -->
 <div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-primary"><img src="assets/img/logo.png" alt="Logo"> Intapp</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="index.html" class="nav-item nav-link ">Inicio</a>
                <a (click)="navigateToAbout()" class="nav-item nav-link ">Sobre Nosotros</a>
                <a (click)="navigateToShop()" class="nav-item nav-link">Productos</a>
                <a (click)="navigateToNoticias()" class="nav-item nav-link active">Noticias</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Páginas</a>
                    <div class="dropdown-menu m-0">
                        <a (click)="navigateToCaracteristicas()" class="dropdown-item">Nuestra Caracteristica</a>
                        <a (click)="navigateToShop()" class="dropdown-item">Nuestros Productos</a>
                        <a href="team.html" class="dropdown-item">Equipo</a>
                    </div>
                </div>
                <a (click)="navigateToContacto()" class="nav-item nav-link">Contactos</a>
            </div>
            <div class="d-none d-xl-flex me-3">
                <div class="d-flex flex-column pe-3 border-end border-primary">
                    <span class="text-body">Contáctanos</span>
                    <a href="tel:+4733378901"><span class="text-primary">Ec: +593 984291013</span></a>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Acceso</a>
                <div class="dropdown-menu m-0">
                    
                    <a (click)="navigateToCliente()" class="dropdown-item">Cliente</a>
                    <a (click)="navigateToDistribuidor()" class="dropdown-item">Distribuidor</a>
                    <a (click)="navigateToAdmin()" class="dropdown-item">Administrador</a>
                </div>
            </div>
        </div>
    </nav>

     <!-- Header Start -->
     <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Nuestras Noticias & Blog</h4>
            <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                <li class="breadcrumb-item active text-primary">Noticias & Blog</li>
            </ol>    
        </div>
    </div>
    <!-- Header End -->
</div>
<!-- Navbar & Hero End -->


<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h4 class="modal-title mb-0" id="exampleModalLabel">Search by keyword</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text btn border p-3"><i class="fa fa-search text-white"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->


<!-- Blog Start -->
<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-uppercase text-primary">Nuestro Blog</h4>
            <h1 class="display-3 text-capitalize mb-3">Últimas Noticias y Actualizaciones</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item d-flex flex-column h-100">
                    <div class="blog-img" style="height: 250px; overflow: hidden;">
                        <img src="assets/img/blog-1.jpg" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="">
                        <div class="blog-date px-4 py-2"><i class="fa fa-calendar-alt me-1"></i> Jan 12 2025</div>
                    </div>
                    <div class="blog-content rounded-bottom p-4 flex-grow-1">
                        <a href="#" class="h4 d-inline-block mb-3">Intagua: Innovación y Calidad</a>
                        <p>Descubre cómo Intagua se compromete a ofrecer la mejor calidad de agua embotellada, para cada necesidad.</p>
                        <a (click)="navigateToNoticias()" class="fw-bold text-secondary mt-auto">Leer Más <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="blog-item d-flex flex-column h-100">
                    <div class="blog-img" style="height: 250px; overflow: hidden;">
                        <img src="assets/img/blog-3.jpg" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="">
                        <div class="blog-date px-4 py-2"><i class="fa fa-calendar-alt me-1"></i> Jan 12 2025</div>
                    </div>
                    <div class="blog-content rounded-bottom p-4 flex-grow-1">
                        <a href="#" class="h4 d-inline-block mb-3">Presentación de 500ml</a>
                        <p>Conoce nuestra práctica y cómoda presentación de 500ml, ideal para llevar a cualquier lugar y mantenerte hidratado.</p>
                        <a (click)="navigateToNoticias()" class="fw-bold text-secondary mt-auto">Leer Más <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="blog-item d-flex flex-column h-100">
                    <div class="blog-img" style="height: 250px; overflow: hidden;">
                        <img src="assets/img/blog-2.jpg" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="">
                        <div class="blog-date px-4 py-2"><i class="fa fa-calendar-alt me-1"></i> Jan 12 2025</div>
                    </div>
                    <div class="blog-content rounded-bottom p-4 flex-grow-1">
                        <a href="#" class="h4 d-inline-block mb-3">Botellones de 20Lt</a>
                        <p>Nuestra opción más económica y práctica para el hogar y la oficina. Los botellones de 20Lt te aseguran agua pura por más tiempo.</p>
                        <a (click)="navigateToNoticias()" class="fw-bold text-secondary mt-auto">Leer Más <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->






 
        <!-- Footer Start -->
        <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
            <div class="container py-5">
                
                <div class="row g-5">
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <div class="footer-item">
                               
                                <h3 class="text-white mb-4">
                                    <img src="assets/img/logo.png" alt="Logo" style="height: 40px; width: auto;" class="me-2">
                                    IntApp
                                </h3>

                               <p class="mb-3">Intagua es una marca que parece estar relacionada con productos de agua, ofreciendo diferentes presentaciones.</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="text-white mb-4">Sobre Nosotros</h4>
                            <a (click)="navigateToAbout()"><i class="fas fa-angle-right me-2"></i> Sobre Nosotros?</a>
                            <a (click)="navigateToContacto()"><i class="fas fa-angle-right me-2"></i> Contáctanos</a>
                            <a href="#"><i class="fas fa-angle-right me-2"></i> Términos y Condiciones</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="text-white mb-4">Horario de Atención</h4>
                            <div class="mb-3">
                                <h6 class="text-muted mb-0">Lun - Viern:</h6>
                                <p class="text-white mb-0">09.00 am A 07.00 pm</p>
                            </div>
                            <div class="mb-3">
                                <h6 class="text-muted mb-0">Sábado:</h6>
                                <p class="text-white mb-0">10.00 am A 05.00 pm</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item d-flex flex-column">
                            <h4 class="text-white mb-4">Información de Contacto</h4>
                            <a href="#"><i class="fa fa-map-marker-alt me-2"></i>123 Calle Principal, Riobamba, Ecuador</a>
                            <a href="mailto:info&#64;intagua.com"><i class="fas fa-envelope me-2"></i> info&#64;intagua.com</a>
                            <a href="tel:+012 345 67890"><i class="fas fa-phone me-2"></i> +1-800-555-1234</a>
                            <a href="tel:+012 345 67890" class="mb-3"><i class="fas fa-print me-2"></i> +593 984291013</a>
                        </div>

                        
                    </div>

                    <div class="col-lg-12">
                        <div class="d-flex align-items-center justify-content-center justify-content-lg-end">
                            <a class="btn btn-secondary btn-md-square rounded-circle me-3" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-secondary btn-md-square rounded-circle me-3" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-secondary btn-md-square rounded-circle me-3" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-secondary btn-md-square rounded-circle me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                       
                    

                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        <!-- Copyright Start -->
        <div class="container-fluid copyright py-4">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-md-6 text-center text-md-start mb-md-0">
                        <span class="text-body"><a href="#" class="border-bottom text-white"><i class="fas fa-copyright text-light me-2"></i>IntApp</a>, Todos los Derechos Reservados.</span>
                    </div>
                    <div class="col-md-6 text-center text-md-end text-body">
                          Diseñado por IntApp <a class="border-bottom text-white" href="">IntApp</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright End -->

        <!-- Back to Top -->
        <a  (click)="navigateToNoticias()"  class="btn btn-secondary btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   
