<div class="container mt-5">
    <h2>Gestión de Estados de Solicitudes</h2>
    <div class="d-flex justify-content-between align-items-center">
      <h3>Estados de Solicitudes</h3>
      <button class="btn btn-primary" data-toggle="modal" data-target="#agregarEstadoSolicitudModal">Agregar Estado</button>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estado of estadosSolicitudes">
          <td>{{ estado.nombre }}</td>
          <td>{{ estado.descripcion }}</td>
          <td>
            <button class="btn btn-danger" (click)="eliminarEstadoSolicitud(estado.id_estadosolicitud)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Modal -->
    <div class="modal fade" id="agregarEstadoSolicitudModal" tabindex="-1" role="dialog" aria-labelledby="agregarEstadoSolicitudModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="agregarEstadoSolicitudModalLabel">Agregar Nuevo Estado</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (submit)="agregarEstadoSolicitud()">
              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" [(ngModel)]="nuevoEstadoSolicitud.nombre" name="nombre" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" [(ngModel)]="nuevoEstadoSolicitud.descripcion" name="descripcion" class="form-control" required></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  