Navbar & Hero Start
<div class="container-fluid position-relative p-0">
  <app-menu-general></app-menu-general>

  <!-- Header Start -->
  <div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
      <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Cliente</h4>
      <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
        <li class="breadcrumb-item active text-primary">Cliente</li>
      </ol>
    </div>
  </div>
  <!-- Header End -->
</div>
<!-- Navbar & Hero End -->

<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h4 class="modal-title mb-0" id="exampleModalLabel">Search by keyword</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex align-items-center">
        <div class="input-group w-75 mx-auto d-flex">
          <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
          <span id="search-icon-1" class="input-group-text btn border p-3"><i
              class="fa fa-search text-white"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>


<p></p>
<p></p>

<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="assets/img/logo.png" class="brand_logo" alt="Logo">
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control input_user" id="username" [(ngModel)]="credentials.username"
              name="username" required placeholder="Nombre de Usuario">

          </div>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control input_pass" id="password" [(ngModel)]="credentials.password"
              name="password" required placeholder="Contraseña">

                        
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">Recordarme</label>
                        </div>
                    </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
               
                            <div class="text-center">
                                <button type="submit" class="btn login_btn mb-3">Iniciar Sesión</button>
                                <div class="d-flex justify-content-center links">
                                    <a href="#">Olvidaste tu Contraseña?</a>
                                </div>
                            </div>
                            
               
                </div>
                </form>
            </div>
            <div class="d-flex justify-content-center mt-3 login_container">
                <div class="d-flex justify-content-center align-items-center">
                    <span style="color: white; margin-right: 10px;">No tienes cuenta?</span> 
                   
                    <div class="d-flex justify-content-center links">
                        <a  class="text-decoration-none text-white" (click)="navigateToRegister()">Regístrate</a>
                    </div>
                   
                </div>
            </div>
            
            
            
            
            
        </div>
    </div>
</div>


<p></p>
<p></p>

<app-footer></app-footer>