<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a (click)="navigateToAdminHome()" class="navbar-brand p-0">
            <h1 class="text-primary"><img src="assets/img/logo.png" alt="Logo"> Intapp</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a (click)="navigateToAdminHome()" class="nav-item nav-link">Inicio</a>
                <a (click)="navigateToDistribuidorProfile()" class="nav-item nav-link">Mis Datos</a>
                <a (click)="navigateToPedidos()" class="nav-item nav-link">Pedidos</a>

            </div>

        </div>


        <div class="d-flex justify-content-end">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i> {{ username }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                    <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
                </div>
            </div>


        </div>

    </nav>

    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">

    </div>
    <!-- Header End -->
</div>