.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f7f7f7;
}

.form-container {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  max-width: 600px;
}

.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 24px; /* Tamaño del icono reducido */
  color: #36A0FF;
}

.form-group {
  margin-bottom: 20px;
}

.form-group-inner {
  display: flex;
  align-items: center;
}

.form-group-inner label {
  margin-right: 10px;
  min-width: 40px;
  text-align: center;
}

.form-group-inner input {
  flex-grow: 1;
  padding: 10px;
}

.text-blue {
  color: #36A0FF;
}

.text-danger {
  color: #ff0000;
  margin-top: 5px;
}

.password-input {
  position: relative;
}

.password-input input {
  width: 100%;
  padding-right: 30px;
}

.password-input .toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #36A0FF;
}


.select-container {
  position: relative;
  display: inline-block;
  width: 100%; /* Ajusta el ancho del contenedor según sea necesario */
}

.select-placeholder {
  position: absolute;
  top: 50%; /* Centra verticalmente el texto placeholder */
  transform: translateY(-50%);
  left: 10px; /* Ajusta el espacio a la izquierda para el icono o el borde del contenedor */
  pointer-events: none; /* Evita que el label interfiera con los eventos del select */
  color: #999;
  transition: 0.2s ease-out;
  font-size: 14px; /* Ajusta el tamaño de fuente según sea necesario */
}

.form-control {
  padding-left: 30px; /* Ajusta el espacio para el icono o el borde del contenedor */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.form-control:focus + .select-placeholder {
  display: none; /* Oculta el placeholder cuando el select está enfocado */
}
