<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
    <a href="" class="navbar-brand p-0">
      <h1 class="text-primary"><img src="assets/img/logo.png" alt="Logo"> Intapp</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
        <a href="index.html" class="nav-item nav-link ">Inicio</a>
        <a (click)="navigateToAbout()" class="nav-item nav-link ">Sobre Nosotros</a>
        <a (click)="navigateToShop()" class="nav-item nav-link">Productos</a>
        <a href="blog.html" class="nav-item nav-link">Noticias</a>
        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Páginas</a>
          <div class="dropdown-menu m-0">
            <a href="feature.html" class="dropdown-item">Nuestra Caracteristica</a>
            <a href="product.html" class="dropdown-item">Nuestros Productos</a>
            <a href="team.html" class="dropdown-item">Equipo</a>
          </div>
        </div>
        <a (click)="navigateToContacto()" class="nav-item nav-link">Contactos</a>
      </div>
      <div class="d-none d-xl-flex me-3">
        <div class="d-flex flex-column pe-3 border-end border-primary">
          <span class="text-body">Contáctanos</span>
          <a href="tel:+4733378901"><span class="text-primary">Ec: +593 984291013</span></a>
        </div>
      </div>

      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Acceso</a>
        <div class="dropdown-menu m-0">

          <a (click)="navigateToCliente()" class="dropdown-item  active">Cliente</a>
          <a (click)="navigateToDistribuidor()" class="dropdown-item">Distribuidor</a>
          <a (click)="navigateToAdmin()" class="dropdown-item">Administrador</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- Header Start -->
  <div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
      <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Registro Cliente</h4>
      <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
        <li class="breadcrumb-item active text-primary">Registro Cliente</li>
      </ol>
    </div>
  </div>
  <!-- Header End -->
</div>
<!-- Navbar & Hero End -->

<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h4 class="modal-title mb-0" id="exampleModalLabel">Search by keyword</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex align-items-center">
        <div class="input-group w-75 mx-auto d-flex">
          <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
          <span id="search-icon-1" class="input-group-text btn border p-3"><i
              class="fa fa-search text-white"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid centered-form">
  <div class="form-container">
    <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <h4 class="text-blue display-4 mb-4 wow fadeInDown text-center" data-wow-delay="0.1s">Registro Cliente</h4>

        <div class="form-group">
          <div class="form-group-inner">
            <label for="cedula"><i class="fa fa-id-card bigicon"></i></label>
            <input class="form-control" id="cedula" name="name" type="text" formControlName="cedula"
              placeholder="Cédula" maxlength="10">
          </div>
          <div
            *ngIf="clienteForm.get('cedula')?.invalid && (clienteForm.get('cedula')?.touched || clienteForm.get('cedula')?.dirty)"
            class="text-danger">
            <div *ngIf="clienteForm.get('cedula')?.errors?.['invalidCedula']" class="text-danger">
              Cédula inválida
            </div>
            <div *ngIf="clienteForm.get('cedula')?.errors?.['taken']" class="text-danger">
              Cédula ya registrada
            </div>
          </div>
        </div>

        <div class="form-group">

          <div class="form-group-inner">
            <label for="nombre"><i class="fa fa-user bigicon"></i></label>
            <input id="nombre" name="nombre" type="text" formControlName="nombre" required placeholder="Nombre"
              class="form-control">
          </div>

        </div>
        <div class="form-group">

          <div class="form-group-inner">
            <label for="apellido"><i class="fa fa-user bigicon"></i></label>
            <input id="apellido" name="apellido" type="text" formControlName="apellido" required placeholder="Apellido"
              class="form-control">
          </div>
        </div>

        <div class="form-group">

          <div class="form-group-inner">
            <label for="direccion"><i class="fa fa-map-marker-alt bigicon"></i></label>
            <input id="direccion" name="direccion" type="text" formControlName="direccion" required
              placeholder="Dirección" class="form-control">
          </div>
        </div>

        <div class="form-group">

          <div class="form-group-inner">
            <label for="telefono"><i class="fa fa-phone bigicon"></i></label>
            <input id="telefono" name="telefono" type="text" formControlName="telefono" required placeholder="Teléfono"
              class="form-control">
            <div *ngIf="clienteForm.get('telefono')?.invalid && clienteForm.get('telefono')?.touched"
              class="text-danger">
              Teléfono inválido
            </div>
          </div>
        </div>

        <div class="form-group">

          <div class="form-group-inner">
            <label for="email"><i class="fa fa-envelope bigicon"></i></label>
            <input id="email" name="email" type="text" formControlName="email" required placeholder="Email"
              class="form-control">
            <div *ngIf="clienteForm.get('email')?.invalid && clienteForm.get('email')?.touched" class="text-danger">
              Correo inválido
            </div>
          </div>
        </div>

        <div class="form-group">

          <div class="form-group-inner">
            <label for="username"><i class="fa fa-user bigicon"></i></label>
            <input id="username" name="username" type="text" formControlName="username" required
              placeholder="Nombre de Usuario" class="form-control">
            <div *ngIf="clienteForm.get('username')?.invalid && clienteForm.get('username')?.touched"
              class="text-danger">
              Nombre de usuario ya tomado
            </div>
          </div>
        </div>

        <div class="form-group">

          <div class="form-group password-input">
            <div class="form-group-inner">
              <label for="password"><i class="fa fa-lock bigicon"></i></label>
              <input class="form-control" id="password" name="password" type="password" formControlName="password"
                placeholder="Contraseña">
              <i class="fa fa-eye toggle-password" (click)="togglePasswordVisibility()"></i>
            </div>
          </div>
        </div>

        <div class="form-group">

          <div class="form-group-inner">
            <label for="id_barrio"><i class="fa fa-home bigicon"></i></label>
            <div class="select-container">
              <label class="select-placeholder">Barrio</label>
              <select class="form-control" id="id_barrio" formControlName="id_barrio" required>
                <option value="" disabled selected>Elija su Barrio</option>

                <option *ngFor="let barrio of barrio" [value]="barrio.id_barrio">{{ barrio.barrionombre }}</option>
              </select>
            </div>
          </div>



        </div>


        <div class="form-group">
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg" [disabled]="!formularioValido()">Registrarse</button>

          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>


<p></p>
<p></p>
<app-footer></app-footer>