 .thead-lightblue {
     background-color: #5499C7;
     /* Azul bajito */
     color: #000;
     /* Texto negro para contraste */
 }

 .clr {
     color: #000 !important;
 }

 .table td,
 .table th {
     color: #000 !important;
     /* Color de texto negro */
 }