.text-justify {
    text-align: justify;
}

.carousel-inner .carousel-item {
    display: flex;
    justify-content: center;
}
.product-item {
    flex: 1;
    margin: 0 15px;
}
.product-item img {
    max-height: 300px;
    object-fit: contain;
}