<app-menu-general></app-menu-general>

<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="w-100 pt-1 mb-5 text-right">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <form action="" method="get" class="modal-content modal-body border-0 p-0">
      <div class="input-group mb-2">
        <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
        <button type="submit" class="input-group-text bg-success text-light">
          <i class="fa fa-fw fa-search text-white"></i>
        </button>
      </div>
    </form>
  </div>
</div>
<section class="bg-success py-5">


  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">

      <div class="col-md-8 text-white">
        <form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <h1>
              <p class="navbar-brand  logo h1 align-self-center">Solicitud para ser Distribuidor</p>
            </h1>
          </div>

          <p></p>
          <p></p>
          <p></p>

          <div data-mdb-input-init class="form-outline mb-4">

            <input type="text" class="form-control" id="cedula" formControlName="cedula" required>
            <div *ngIf="solicitudForm.get('cedula')?.invalid && solicitudForm.get('cedula')?.touched"
              class="text-danger">
              Cédula inválida
            </div>

            <label class="form-label" for="cedula">Cédula</label>
          </div>



          <div data-mdb-input-init class="form-outline mb-4">

            <input type="text" class="form-control" id="nombre" formControlName="nombre" required>

            <label class="form-label" for="form3Example3">Nombre</label>
          </div>



          <div data-mdb-input-init class="form-outline mb-4">

            <input type="text" class="form-control" id="apellido" formControlName="apellido" required>

            <label class="form-label" for="form3Example3">Apellido</label>
          </div>

          <div data-mdb-input-init class="form-outline mb-4">

            <input type="text" class="form-control" id="direccion" formControlName="direccion" required>

            <label class="form-label" for="form3Example3">Dirección</label>
          </div>

          <div data-mdb-input-init class="form-outline mb-4">

            <input type="text" class="form-control" id="telefono" formControlName="telefono" required>
            <div *ngIf="solicitudForm.get('telefono')?.invalid && solicitudForm.get('telefono')?.touched"
              class="text-danger">
              Teléfono inválido
            </div>

            <label class="form-label" for="telefono">Teléfono</label>
          </div>


          <div data-mdb-input-init class="form-outline mb-4">

            <input type="email" class="form-control" id="email" formControlName="email" required>
            <div *ngIf="solicitudForm.get('email')?.invalid && solicitudForm.get('email')?.touched" class="text-danger">
              Correo inválido
            </div>

            <label class="form-label" for="email">Email</label>
          </div>





          <div class="d-flex justify-content-between align-items-center">



            <button type="submit" class="btn btn-green" [disabled]="!solicitudForm.valid">Enviar Solicitud</button>
          </div>





        </form>


      </div>
    </div>
  </div>

</section>

<app-footer></app-footer>

<!-- <div class="container mt-5">
  <h2>Solicitud para ser Distribuidor</h2>
  <form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="cedula">Cédula:</label>
      <input type="text" class="form-control" id="cedula" formControlName="cedula">
      <div *ngIf="solicitudForm.get('cedula')?.invalid && solicitudForm.get('cedula')?.touched" class="text-danger">
        Cédula inválida
      </div>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre">
    </div>
    <div class="form-group">
      <label for="apellido">Apellido:</label>
      <input type="text" class="form-control" id="apellido" formControlName="apellido">
    </div>
    <div class="form-group">
      <label for="direccion">Dirección:</label>
      <textarea class="form-control" id="direccion" formControlName="direccion"></textarea>
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input type="text" class="form-control" id="telefono" formControlName="telefono">
      <div *ngIf="solicitudForm.get('telefono')?.invalid && solicitudForm.get('telefono')?.touched" class="text-danger">
        Teléfono inválido
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <div *ngIf="solicitudForm.get('email')?.invalid && solicitudForm.get('email')?.touched" class="text-danger">
        Correo inválido
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!solicitudForm.valid">Enviar Solicitud</button>
  </form>
</div> -->