.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: #333;
  }
  
  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
  }
  
  .owl-carousel {
    margin-top: 20px;
  }
  
  .owl-carousel .item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
  }
  
  .service-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.service-content {
    flex-grow: 1;
}

.service .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alineación central de los elementos */
}

.service .col-lg-6,
.service .col-xl-4 {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Asegura que los elementos se estiren verticalmente */
}

.service .col-lg-6 .service-item,
.service .col-xl-4 .service-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem; /* Ajusta este valor según sea necesario */
}
