.carousel-inner {
  background-color: #001442; /* Color de fondo del carrusel */
}

.carousel-item {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.carousel-item.active {
  opacity: 1;
  position: relative;
}
